{{> privateNavbar}}

<main class="container">
  <section class="mt-4 border p-3 rounded-2 bg-light">
    <h2 class="text-center">Create Post</h2>
    <hr />
    <form class="mt-4" id="create-form">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="Title"
        />
      </div>
    <div class="input-group mb-3">
        <textarea class="form-control" aria-label="With textarea" placeholder="Content" id="content"></textarea>
    </div>
        <div id="blog-error"></div>
      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Post</button>

      </div>
    </form>
  </section>
</main>