{{#if (isEqualTo userDetails.isLoggedIn true)}}
    {{> privateNavbar}}

    <main>
    <div class="bg-light p-5 rounded-lg m-3">
        <h1 class="display-4">Tech Blog!</h1>
        <p class="lead">Welcome to the coding tech blog. Where you can read and create your own blog posts.</p>
        <hr class="my-4">
        <p>Visit your dashboard to create your own posts</p>
        <a class="btn btn-primary btn-lg" href="/dashboard" role="button">View Dashboard</a>
    </div>

{{else}}
    {{>publicNavbar}}

    <main>
    <div class="bg-light p-5 rounded-lg m-3">
        <h1 class="display-4">Tech Blog!</h1>
        <p class="lead">Welcome to the coding tech blog. Where you can read and create your own blog posts.</p>
        <hr class="my-4">
        <p>To be able to comment, create and have full access to the website, please sign up.</p>
        <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up Now</a>
    </div>
{{/if}}

<div class="bg-light p-5 rounded-lg m-3 ">
    <h2 class="display-6">Blog Posts</h2>
    <div class="d-flex flex-wrap">
        {{#each allPosts}}
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Created By:</p>
                <p class="card-text">Created On:</p>
                <a href="#" class="btn btn-primary">Read Now</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>





</main>